@model IEnumerable<itvitea_Restaurant.Models.ConsumeableOrders>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.consumeableId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ready)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.consumeableId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ready)
            </td>
            <td>
                @Html.ActionLink("Completed", "Completed", new { /* id=item.PrimaryKey */ }) |
            </td>
        </tr>
}}
    </tbody>
</table>
